{% extends 'base.html' %}

{% block title %}Add Images for Post {{ post_token }} - Ostadkar{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Add Images for Post {{ post_token }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-body">
                <h4>Image Information</h4>
                {{ form.as_p }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Images</button>
    </form>
</div>
{% endblock %} 