{% extends 'base.html' %}
{% load static %}

{% block title %}استادکار - دیتا لاین{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="header text-center mb-5">
        <h1 class="display-4">به استادکار خوش آمدید</h1>
        <p class="lead">با آپلود عکس‌های نمونه کارت و افزوده شدن نمونه کار به آگهی، درآمدت رو افزایش بده</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h2 class="h4 text-primary mb-3">افزایش درآمد با نمونه کارها</h2>
                    <p>با آپلود عکس‌های نمونه کارت و افزودن آن‌ها به آگهی‌های خود، اعتماد مشتریان را جلب کنید و شانس استخدام و درآمد خود را افزایش دهید.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 